/* Common Css Start */
* {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
h1,h2,h3,h4,h5,h6,
p, 
span{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width: 1250px;
    margin: 0 auto;
}
:root{
    /*color*/
    --background-color: #161616;
    --fucas-color: #DD0000;
    --font-color: #fff;
    --regular-font-color: rgba(22, 22, 22, 70%);
    --regular-secendfont-color: #B9B9B9;
    /*transition*/
    --first-transition: all .3s linear;
}
/* ||Common Css End|| */

/* Header Css Start */
header{
    background-color: var(--background-color);
    display: flex;
    padding: 0 100px;
    overflow: hidden;
    border-radius: 20px;
}
.head_text{
    width: 50%;
    color: var(--font-color);
    padding: 130px 0;
}
.head_text h1{
    font-size: 50px;
    font-weight: 700;
}
.head_text p{
    font-size: 16px;
    line-height: 26px;
    padding: 20px 0;
}
.head_text a{
    color: var(--font-color);
    font-size: 18px;
    background-color: var(--fucas-color);
    border: 2px solid transparent;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 5px;
    transition: var(--first-transition);
}
.head_text a:hover{
    color: var(--fucas-color);
    border: 2px solid var(--fucas-color);
    background-color: var(--font-color);
}
.head_text i{
    font-size: 15px;
    padding-left: 5px;
}
.head_img{
    width: 50%;
    text-align: right;
}
.head_img img{
    position: relative;
    top: 8px;
}
/* ||Header Css End|| */

/* Main Css Start */
#main_item{
    display: grid;
    grid-template-columns: 1fr 4fr;
    column-gap: 20px;
    padding: 50px 0;
}
.side_nev{
    background-color: var(--background-color);
    display: flex;
    flex-direction: column;
    padding: 15px 20px;
    border-radius: 10px;
    text-align: center;
}
.side_nev a{
    background-color: var(--font-color);
    font-size: 18px;
    font-weight: 700;
    color: var(--background-color);
    margin: 8px 0;
    padding: 10px;
    border-radius: 8px;
    transition: var(--first-transition);
}
.side_nev a.fucas{
    background-color: var(--fucas-color);
    color: var(--font-color);
}
.side_nev a:hover{
    background-color: var(--fucas-color);
    color: var(--font-color);
}

.post_section{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 20px;
}
.post_item{
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    overflow: hidden;
}
.post_item img{
    width: 100%;
}
.post_item .post_text{
    padding: 10px 15px;
}
.post_text .btn{
    font-size: 16px;
    font-weight: 500;
    color: var(--background-color);
    padding: 8px 20px;
    border: 1px solid var(--background-color);
    border-radius: 8px;
    transition: var(--first-transition);
}
.post_text h4{
    font-size: 18px;
    font-weight: 700;
    color: var(--background-color);
    padding: 15px 0;
}
.post_text .icone{
    display: flex;
}
.post_text .icone p{
    color: var(--regular-font-color);
    padding-right: 25px;
}
.post_item:hover .btn{
    background-color: var(--fucas-color);
    border: 1px solid var(--fucas-color);
    color: var(--font-color);
}
/* ||Main Css End|| */